.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thumb{
    align-items:center;
    width:20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}